@*@model IEnumerable<UI.Models.ViewModelUser>*@
@model IEnumerable<Data.Models.User>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

<h2>Users</h2>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="user_@Html.DisplayFor(modelItem => item.Id)">
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.Name)
                </td>
                <td class="userId">
                    @Html.HiddenFor(modelItem => item.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <button id="Delete" class="btn-link">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="dialog-formDelete" title="Delete">
    <p class="validateTips"></p>
    <form>
        <fieldset>
            <input type="hidden" id="UserId" name="userId" value="">
        </fieldset>
    </form>
</div>

<script>
    debugger;
    var dialogDelete;
    dialogDelete = $("#dialog-formDelete").dialog({
        autoOpen: false,
        height: 100,
        width: 100,
        modal: true,
        buttons: {
            "Delete User": DeleteUser
        },
        close: function () {
        }
    });
    debugger;
    $(document).on("click", "#Delete.btn-link", function () {
        dialogDelete.dialog("open");
        console.log($(this).parent().parent());
        var id = $(this).parent().parent().find(".userId").text();

        $.ajax({
            type: 'GET',
            url: '/Users/Delete/' + id,
            success: function (result) {
                $('#UserId').val(result.id);
            }
        });
    });

    function DeleteUser() {

        var user = {
            id: $('#UserIdD').val()
        }
        $.ajax({
            type: 'POST',
            url: '/Users/Delete',
            data: user,
            success: function (data) {
                $("#user_" + user.id).remove();
                alert("ok");
                dialogDelete.dialog("close");
            },
            error: function (xhr, textStatus, error) {
                console.log(error);
            }
        });
    }
</script>
