@model UI.Models.ViewModelAddress

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AddressStreetAndNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressStreetAndNumber)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserAddresses)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserAddresses)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => item.AddressId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    <a asp-action="Users/Edit" asp-route-userid="@item.UserId" asp-route-addressid="@item.AddressId">Edit</a> |
                    <a asp-action="Users/Details" asp-route-userid="@item.UserId" asp-route-addressid="@item.AddressId">Details</a> |
                    <a asp-action="Users/Delete" asp-route-userid="@item.UserId" asp-route-addressid="@item.AddressId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
